{{ block "index" .}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie database</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
<!--    <link href="/static/bootstrap.min.css" rel="stylesheet"> -->
<!--    <script src="/static/bootstrap.bundle.min.js" defer></script> -->
    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="/static/htmx/response-targets.min.js"></script>
  </head>

  <body class="container" hx-ext="response-targets">   
    <nav class="navbar">
        <a class="logo" href="/">
          <img src="/static/logo.svg">
        </a>
        <ul>
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/movies">Catalog</a></li>
        </ul>
        <ul class="align-right" hx-get="/user/userinfo" hx-trigger="load" hx-swap="innerHTML">          
        </ul>
        <section class="search-container">
          <input type="search" name="search" placeholder="Search"
          hx-post="/search" hx-trigger="input changed delay:500ms, search"
          hx-target="#search-results">
          <ul id="search-results">
          </ul>
        </section>
    </nav>
    {{ .Htmlstr }}
  </body>
</html>
{{ end }}

{{ block "search-results" . }}
  {{ range . }}
    <li class="list-group-item"><a href="/movie/{{ .ID }}">{{ .Title }}</a></li>
  {{ end }}
{{ end }}

{{ block "movie" .}}
<section id="movie-section" class="movie container">
  <h2>{{.Movie.Title}}</h2>
  <img src="/movie/poster/{{ .Movie.ID }}">
  <ul class="container-fluid list-group list-group-horizontal pb-2">
    {{ range .Genres }}
      {{ block "film-genre" .}}
        <li class="list-group-item border border-primary rounded me-1">{{ . }}</li>
      {{ end }}
    {{ end }}
  </ul>
  {{ if .Session}}
    {{ if .Session.Admin}}
      <button hx-delete="/admin/movie/{{ .Movie.ID }}" hx-target="#movie-section" hx-target-error="#movie-actions-errors"
              hx-confirm="Are you sure?" class="btn btn-primary m-1">
              Delete
      </button>
      <button hx-get="/admin/movie/edit/{{ .Movie.ID }}" hx-target="#movie-edit-form" hx-target-error="#movie-actions-errors"
              hx-swap="innerHTML" class="btn btn-primary m-1">
              Edit
      </button>
    {{ end}}
  {{ end }}
  <div id="movie-edit-form">
  </div>
  <p id="movie-actions-errors"></p>
  {{ block "comments-section" .Movie.ID }}
    <section id="comments-section" class="container">
      <h2>Comments</h2>
        <form hx-post="/auth/movie/comment" class="post-comment-form" hx-vals='{"movieId":"{{ . }}"}' hx-target-error="#comment-post-result" hx-target="#comments-section" hx-swap="innerHTML">
          <textarea type="text" name="comment" rows="2" required></textarea>
          <button type="submit" class="btn-btn-primary">Comment</button>
        </form>
        <div id="comment-post-result"></div>
        <ul id="comments" class="comments" hx-get="/movie/{{ . }}/comments/0" hx-trigger="load" hx-swap="innerHTML">
        </ul>
    </section>
  {{ end }}
</section>
{{ end }}

{{ block "edit-comment" . }}
  <form hx-put="/auth/comment/edit" class="comment-edit-form" hx-vals='{"commentId":{{ .CommentId }}}' hx-target="#comment{{ .CommentId }}" hx-target-error="#edit-comment-result" hx-swap="innerHTML">
    <textarea type="text" name="comment" rows="2" class="form-control" required>{{ .CommentText }}</textarea>
    <button type="submit" class="btn-btn-primary">Save</button>
    <button type="button" hx-get="/movie/comment/{{ .CommentId }}" hx-target="#comment{{ .CommentId }}" hx-targer-error="#edit-comment-result" hx-swap="outerHTML">X</button>
    <p id="edit-comment-result"></p>
  </form>
{{ end }}

{{ block "comments" . }}
  {{ if . }}
    {{ range .}}
      {{ if not .Last}}
        <li id="delete-target{{ .CommentId }}">
      {{ else }}
        <li id="delete-target{{ .CommentId }}" hx-get="/movie/{{ .MovieId }}/comments/{{ .CommentId }}" hx-trigger="revealed" hx-swap="afterend">
      {{ end }}
          <div>
            <a href="/user/{{ .UserId }}">{{ .Username }}</a><p>{{ .PostedDT }}</p>
            <div class="dropdown-comment-menu">
              <svg class="comment-menu-image" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true">
                <path d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
              </svg>
              <ul class="comment-menu">
                {{ if .Owner }}
                  <li>
                    <button hx-get="/auth/comment/edit/{{ .CommentId }}" hx-target="#comment{{ .CommentId }}"
                            hx-target-error="#comment{{ .CommentId }}-menu-errors">
                            Edit
                    </button>
                  </li>
                  <li>
                    <button hx-delete="/auth/comment/delete/{{ .CommentId }}" hx-target="#delete-target{{ .CommentId }}" 
                            hx-target-error="#comment{{ .CommentId }}-menu-errors" hx-confirm="Are you sure?">
                            Delete
                    </button>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          {{ block "comment" . }}
          <div id="comment{{ .CommentId }}">
            <p>{{ .CommentText }}</p>
            <p id="comment{{ .CommentId }}-menu-errors"></p>
          </div>
          {{ end }}
        </li>
    {{ end }}
  {{ else }}
    <p>No comments.</p>
  {{ end }}
{{ end }}

{{ block "deleted-comment" . }}
  <p>Comment deleted.</p>
{{ end }}

{{ block "deleted-movie" . }}
  <p>Movie deleted.</p>
{{ end}}

{{ block "movie-edit-form" . }}
    <div class="top-row">
      <h2>Edit movie</h2>
      <button type="button" hx-get="/empty" hx-target="#movie-edit-form" hx-target-error="#movie-actions-errors" hx-swap="innerHTML" title="Close">X</button>
    </div>
    <form hx-put="/movie/{{ .ID }}" hx-target-error="#movie-actions-errors" hx-swap="innerHTML" hx-indicator=".htmx-indicator" hx-confirm="Sure?">
      <div>
        <label for="film-title">Title</label>
        <input type="text" value="{{ .Title }}" name="title" id="film-title" class="form-control" required />
      </div>
      <div>
        <label for="film-genres">Genres</label>
        <input type="text" value="{{ .Genres }}" name="genres" id="film-genres" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="htmx-indicator m-1"></span>
        Save
      </button> 
    </form>
    <form hx-encoding="multipart/form-data" hx-put="/movie/poster/{{ .ID }}"
          _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'
          hx-target-error="#movie-actions-errors" hx-swap="innerHTML">
      <label class="form-label" for="input-file">Choose poster file. Allowed png up to 1MB!</label>
      <input class="form-control" id="input-file" type="file" name="file">
      <button class="btn btn-primary m-1">
        Upload
      </button>
      <progress id="progress" class="progress" value="0" max="100" title="Progress bar"></progress>
    </form>
{{ end }}

{{ block "add-movie" . }}
<section id="add-movie" class="container">
  <h2 class="">Add Movie</h2>

  <form hx-post="/admin/movie/" hx-target="#add-movie" hx-target-error="#add-movie-errors" hx-indicator="#spinner" class="form-control">
    <div>
      <label for="film-title">Title</label>
      <input type="text" name="title" id="film-title" class="form-control" required />
    </div>
    <div>
      <label for="film-genres">Genres</label>
      <input type="text" name="genres" id="film-genres" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>  
  </form>
  <p id="add-movie-errors"></p>
  {{ if . }}
    <p>Movie added to database. ID is <a href="/movie/{{ . }}" title="Press to open created movie page!">{{ . }}</a></p>
  {{ end }}
</section>
{{ end }}

{{ block "all-movies" .}}
  <main class="container">
    <form hx-post="/movies/reload" id="catalog-search" hx-target="#search-table" hx-swap="outerHTML" hx-trigger="input changed delay:500ms">
      <input class="form-control " type="search" name="prompt" placeholder="Search">
      <label for="sort-by">Sort:</label>
      <select class="form-control" id="sort-by" name="sort-by">
        <option value="id">Date added</option>
        <option value="title">Title</option>
      </select>
      <label for="order">Order:</label>
      <select class="form-control" id="order" name="order">
        <option value="desc">Descending</option>
        <option value="asc">Ascending</option>
      </select>
<!--     <button class="btn btn-primary" type="submit">Apply filters</button> --> 
    </form>
    {{ template "search-catalog" . }}
    <center>
      <img class="htmx-indicator" width="60" src="/static/img/bars.svg">
    </center>
  </main>
{{ end }}

{{ block "search-catalog" . }}
<table hx-indicator=".htmx-indicator" class="table" id="search-table">
  <tr hx-post="/movies/" hx-trigger="revealed" hx-swap="afterend" hx-include="#catalog-search"><th scope="col">Title</th><th scope="col">Genres</th></tr>
</table>
{{ end }}

{{ block "movie-rows" . }}
  {{ range . }}
    {{ if not .Last}}
      <tr><td><a href="/movie/{{ .ID }}">{{ .Title }}</a></td><td>{{ .Genres }}</td></tr>
    {{ else }}
      <tr hx-post="/movies/" hx-trigger="revealed" hx-vals='{"last-el" : "{{ .Last }}"}' hx-swap="afterend" hx-include="#catalog-search"><td><a href="/movie/{{ .ID }}">{{ .Title }}</a></td><td>{{ .Genres }}</td></tr>
    {{ end }}
  {{ end }}
{{ end }}

{{ block "auth-block" . }}
  {{ if not . }}
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
  {{ else }}
    {{ if .Admin }}
      <li class="nav-item"><a class="nav-link" href="/admin/movie/add">Add movie</a></li>
    {{ end }} 
    <li class="nav-item"><a class="nav-link" href="/user/{{ .UserId }}">{{ .Username }}</a></li>
    <li class="nav-item"><a class="nav-link" hx-post="/auth/user/logout">Logout</a></li>
  {{ end }}
{{ end }}

{{ block "login-block" .}}
  <section class="login-page">
    <h2>Login page</h2>
    <form hx-post="/user/login" id="login-form" hx-target-error="#login-result" hx-swap="innerHTML">
      <div>
        <label for="username-field">Login</label>
        <input type="text" name="username" id="username-field"  required/>
      </div>
      <div>
        <label for="password-field">Password</label>
        <input type="password" name="password" id="password-field" required/>
      </div>
      <button type="submit">
        Login
      </button>
    </form>
    <div id="login-result"></div>
    <a href="/user/register">Register</a>
  </section>
{{ end }}

{{ block "register-block" . }}
  <section class="registation-page">
    <h2>Registration page</h2>
    <p>Password must be at least 8 character long, must include lower case letter, capital letter, number and special symbol. </p>
    <form hx-post="/user/register" id="register-form" hx-target-error="#register-result" hx-swap="innerHTML">
      <div>
        <label for="username-field">Username</label>
        <input type="text" name="username" id="username-field" required/>
      </div>
      <div>
        <label for="password-field">Password</label>
        <input type="password" name="password" id="password-field" required/>
      </div>
      <div>
        <label for="confirm-password-field">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirm-password-field" required/>
      </div>
      <button type="submit">
        Register
      </button>
    </form>
    <div id="register-result"></div>
  </section>
{{ end }}

{{ block "user-page" . }}
  <section>
    <h2>User page</h2>
    <h3>{{ .Username }}</h3>
    {{ if .Admin }}
      <p>Administrator</p>
    {{ end }}
    <p>Registration date: {{ .RegisterDate }}</p>
    {{ if .Banned }}
      <p>Banned Until: {{ .BanUntil }}</p>
    {{ end }}
    {{ if .Session }}
      {{ if .Session.Admin}}
        <form hx-post="/admin/user/ban" hx-target-error="#ban-user-errors" hx-vals='{"userId":{{ .Id }}}'>
          <label for="banPicker">Set time until user will be banned</label>
          <input type="datetime-local" name="banUntil" value="{{ .TimeNow }}" id="banPicker" required/>
          <button type="submit">Ban</button>
          <button hx-post="/admin/user/ban" hx-target-error="#ban-user-errors" hx-vals='{"userId":{{ .Id }}, "banUntil":"unban"}'>Unban</button>
        </form>
        <p id="ban-user-errors"></p>
      {{ end }}
    {{ end }}
  </section>
{{ end }}

<div class="col-4">
  <h1 class="mb-4">Delete Movie</h1>
  <form action="/movie/del" method="post">
    <div class="mb-3">
      <label for="film-id">ID</label>
      <input type="text" name="id" id="film-id" class="form-control" value={{.Movie.ID}} required/>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
      DELETE
    </button>
  </form>
</div>