{{ block "index" .}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie database</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.min.js" defer></script>
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="/static/htmx/response-targets.min.js"></script>
    <style>
      .search-container:not(:focus-within) ul {
        display: none;
      }

      #progress {
        width: 100%;
      }
    </style>
  </head>

  <body class="container">   
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Movie database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item"><a class="nav-link" href="/movies">Catalog</a></li>
            <li class="nav-item"><a class="nav-link" href="/movie/add">Add movie</a></li>
          </ul>
          <ul class="auth-container" hx-get="/user/userinfo" hx-trigger="load" hx-swap="innerHTML">          
          </ul>
        </div>
        <section class="search-container">
          <input class="form-control " type="search" name="search" placeholder="Search"
          hx-post="/search" hx-trigger="input changed delay:500ms, search"
          hx-target="#search-results">
          <ul id="search-results" class="list-group position-absolute pe-2">
          </ul>
        </section>
      </div>
    </nav>
      {{ .Htmlstr }}
  </body>
</html>
{{ end }}

{{ block "search-results" . }}
  {{ range . }}
    <li class="list-group-item"><a href="/movie/{{ .ID }}">{{ .Title }}</a></li>
  {{ end }}
{{ end }}

{{ block "movie" .}}
<section class="movie container">
  <h2>{{.Movie.Title}}</h2>
  <img src="/movie/poster/{{ .Movie.ID }}">
  <ul class="container-fluid list-group list-group-horizontal pb-2">
    {{ range .Genres }}
      {{ block "film-genre" .}}
        <li class="list-group-item border border-primary rounded me-1">{{ . }}</li>
      {{ end }}
    {{ end }}
  </ul>
  <button hx-delete="/movie/{{ .Movie.ID }}" hx-target="#movie-actions-result" hx-swap="innerHTML" hx-confirm="Are you sure?" class="btn btn-primary m-1">Delete</button>
  <button hx-get="/movie/edit/{{ .Movie.ID }}" hx-target="#movie-actions-result" hx-swap="innerHTML" class="btn btn-primary m-1">Edit</button>
  <div id="movie-actions-result"></div>
</section>
{{ end }}

{{ block "movie-actions-result" . }}
  {{ if .Error }}
    <p style="color: red">{{ .Error }}</p>
  {{ else if .Msg }}
    <p style="color: green">{{ .Msg }}</p>
  {{ else }} 
    {{ template "movie-edit-form" . }}
  {{ end }}
{{ end }}

{{ block "movie-edit-form" . }}
  <div class="container form-control">
    <div class="d-flex flex-row justify-content-between">
      <h2>Edit movie</h2>
      <button type="button" hx-get="/empty" hx-target="#movie-actions-result" hx-swap="innerHTML" class="btn-close"></button>
    </div>
    <form hx-put="/movie/{{ .ID }}" hx-target="#movie-actions-result" hx-swap="innerHTML" hx-indicator=".htmx-indicator" hx-confirm="Sure?">
      <div>
        <label for="film-title">Title</label>
        <input type="text" value="{{ .Movie.Title }}" name="title" id="film-title" class="form-control" required />
      </div>
      <div>
        <label for="film-genres">Genres</label>
        <input type="text" value="{{ .Movie.Genres }}" name="genres" id="film-genres" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="htmx-indicator m-1"></span>
        Save
      </button> 
    </form>
    <form hx-encoding="multipart/form-data" hx-put="/movie/poster/{{ .Movie.ID }}"
        _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
      <label class="form-label" for="input-file">Choose poster file. Allowed png up to 1MB!</label>
      <input class="form-control" id="input-file" type="file" name="file">
      <button class="btn btn-primary m-1">
        Upload
      </button>
      <progress id="progress" class="progress" value="0" max="100"></progress>
    </form>
  </div>
{{ end }}

{{ block "add-movie" . }}
<section id="add-movie" class="container">
  <h2 class="">Add Movie</h2>

  <form hx-post="/movie/" hx-target="#add-movie" hx-indicator="#spinner" class="form-control">
    <div>
      <label for="film-title">Title</label>
      <input type="text" value="{{ .Movie.Title }}" name="title" id="film-title" class="form-control" required />
    </div>
    <div>
      <label for="film-genres">Genres</label>
      <input type="text" value="{{ .Movie.Genres }}" name="genres" id="film-genres" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>  
  </form>
  {{ if .Errors }}
    {{ range .Errors }}
      <p>Error: {{ . }}</p>
    {{ end }}
  {{ else if .ID }}
    <p>Movie added to database. ID is <a href="/movie/{{ .ID }}" title="Press to open created movie page!">{{ .ID }}</a></p>
  {{ end }}
</section>
{{ end }}

{{ block "all-movies" .}}
  <main class="container">
    <form hx-post="/movies/reload" id="catalog-search" hx-target="#search-table" hx-swap="innerHTML" hx-trigger="input edit change delay: 500ms">
      <input class="form-control " type="search" name="prompt" placeholder="Search">
      <label for="sort-by">Sort:</label>
      <select class="form-control" id="sort-by" name="sort-by">
        <option value="id">Date added</option>
        <option value="title">Title</option>
      </select>
      <label for="order">Order:</label>
      <select class="form-control" id="order" name="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
      <button class="btn btn-primary" type="submit">Apply filters</button>
    </form>
    {{ template "search-catalog" . }}
    <center>
      <img class="htmx-indicator" width="60" src="/static/img/bars.svg">
    </center>
  </main>
{{ end }}

{{ block "search-catalog" . }}
<table hx-indicator=".htmx-indicator" class="table" id="search-table">
  <tr hx-post="/movies/" hx-trigger="revealed" hx-swap="afterend swap:1s" hx-include="#catalog-search"><th scope="col">Title</th><th scope="col">Genres</th></tr>
</table>
{{ end }}

{{ block "movie-rows" . }}
  {{ range . }}
    {{ if not .Last}}
      <tr><td><a href="/movie/{{ .ID }}">{{ .Title }}</a></td><td>{{ .Genres }}</td></tr>
    {{ else }}
      <tr hx-post="/movies/" hx-trigger="revealed" hx-vals='{"last-el" : "{{ .Last }}"}' hx-swap="afterend" hx-include="#catalog-search"><td><a href="/movie/{{ .ID }}">{{ .Title }}</a></td><td>{{ .Genres }}</td></tr>
    {{ end }}
  {{ end }}
{{ end }}

{{ block "auth-block" . }}
  {{ if not . }}
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
  {{ else }} 
    <li class="nav-item"><a class="nav-link" href="/user/{{ .UserId }}">{{ .Username }}</a></li>
    <li class="nav-item"><a class="nav-link" hx-post="auth/user/logout">Logout</a></li>
  {{ end }}
{{ end }}

{{ block "login-block" .}}
  <section class="container" hx-ext="response-targets">
    <h2>Login page</h2>
    <form hx-post="/user/login" id="login-form" class="form-control" hx-target-error="#login-result" hx-swap="innerHTML">
      <div>
        <label for="username-field">Login</label>
        <input type="text" name="username" id="username-field" class="form-control" required/>
      </div>
      <div>
        <label for="password-field">Password</label>
        <input type="text" name="password" id="password-field" class="form-control" required/>
      </div>
      <button type="submit" class="btn-btn-primary">
        Login
      </button>
    </form>
    <div id="login-result"></div>
    <a href="/user/register">Register</a>
  </section>
{{ end }}

<div class="col-4">
  <h1 class="mb-4">Delete Movie</h1>
  <form action="/movie/del" method="post">
    <div class="mb-3">
      <label for="film-id">ID</label>
      <input type="text" name="id" id="film-id" class="form-control" value={{.Movie.ID}} required/>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
      DELETE
    </button>
  </form>
</div>