* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  width: 100%;
  color-scheme: dark;
  color: white;
  background: #333;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid lightgrey;
  &:hover {
    color: lightblue;
  }
}

p {
  font-size: 2rem;
}

section {
  padding: 0.5rem;
}

input, label, option, select {
  font-size: 2rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .logo {
    margin-inline-end: 2rem;
    img {
      width: 128px;
      height: 64px;
    }
  }
  a {
    border-style: none;
  }
  ul {
    font-size: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  li {
    align-content: center;
    padding: 1rem;
    margin-right: 1rem;
    &:hover {
      /*background-color: #1d3841;*/
      color: #2b7c97;
      border-radius: 2rem;
    }
  }
  .align-right {
    margin-left: auto;
  }
}


.search-container {
  &:not(:focus-within) ul {
    display: none;
  }
  align-content: center;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    list-style: none;
    position: absolute;
    background-color: #333;
    border: 1px solid whitesmoke;
    margin-inline-end: 1rem;
    min-inline-size: 300px;
  }
  input {
    min-inline-size: 300px;
    max-inline-size: 300px;
    font-size: 2rem;
  }
}

/*.search-container {
  background-color: black;


  input, ul {
    width: 50vw;
    font-size: 2rem;
  }
  ul {

  }


  img, input {
    display: inline-block;
    height: 3rem;
    vertical-align: bottom;
    color: white;
  }

} */

#progress {
  width: 100%;
}

button {
  font-size: 2rem;
}

form {
  font-size: 2rem;
  inline-size: 100%;
  padding: 0.5rem;
  div {
    display: flex;
    flex-direction: row;
    label {
      min-inline-size: 7rem;
    }
    input {
      min-inline-size: 30rem;
      font-size: 2rem;
      inline-size: 100%;
    }
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

textarea {
  inline-size: 100%;
  font-size: 2rem;
  resize: none;
}

#catalog-search {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  .form-control {
    margin-inline-end: 2rem;
  }
  input {
    min-inline-size: 30rem;
  }
}

table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  width: 100%;
  border-spacing: 2px;
  font-size: 2rem;
  margin: 0.5rem;
  tr, th, td {
    border: 1px solid lightgrey;
  }
  a {
    border: none;
  }
}

#comments {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    a {
      border: none;
      margin-inline-end: 2rem;
    }
    P {
      margin: 0;
    }
  }
  li {
    margin: 0;
    border: solid 1px white;
    border-radius: 0;
    background-color: #333;
  }
  .dropdown-comment-menu {
    position: relative;
    display: inline-block;
    margin-inline-start: auto;
    &:hover ul {
      display: flex;
    }
    ul {
      display: none;
      position: absolute;
      right: 0.5rem;
      z-index: 1;
      flex-direction: column;
      align-items: center;
      border: solid 1px white;
      padding: 0;
    }
    svg {
      fill: white;
      margin-inline-start: auto;
    }
    li {
      margin: 0;
      padding: 0;
    }
    button {
      inline-size: 8rem;
    }
  }
}

.movie {
  padding: 0.5rem;
  img {
    max-inline-size: 40rem;
    max-block-size: 40rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    li {
      padding: 1rem;
      font-size: 2rem;
      border: 2px, solid, white;
      border-radius: 2rem;
      background-color: #233;
      margin-right: 1rem;
    }
  }
}

#movie-edit-form {
  display: flex;
  flex-direction: column;
  background-color: #233;
  input {
    inline-size: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    button {
      width: 3rem;
      height: 3rem;
      margin-inline-start: auto;
    }
  }
}

.login-page {
  margin: auto;
  inline-size: 50%;
  label {
    min-inline-size: 10rem;
  }
  form {
    padding: 0;
  }
  div {
    padding-block-end: 0.5rem;
  }
  h2 {
    text-align: center;
  }
  input {
    min-inline-size: 30%;
  }
  a {
    font-size: 2rem;
  }
}

.star-icon {
  inline-size: 2rem;
  block-size: 2rem;
}

.registation-page {
  margin: auto;
  inline-size: 50%;
  p {
    padding: 0.5rem;
  }
  div {
    padding-block-end: 0.5rem;
  }
  label {
    min-inline-size: 17rem;
  }
  h2 {
    text-align: center;
  }
  input {
    min-inline-size: 30%;
  }
}

#not-connected:before {
  content: "⬤";
  color: red;
}

#connected:before {
  content: "⬤";
  color: greenyellow;
}

#home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: row;
  }
  p {
    margin: 0;
    padding: 0.5rem;
  }
  h3 {
    margin: 0;
    padding: 0.5rem;
  }
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #333;
  }
} */

@media screen and (max-width: 1024px) {
  html {
    min-inline-size: 1024px;
    overflow: auto;
  }
}